/* NO COCKTAILS MESSAGE STYLES */

.no-cocktails {
  text-transform: capitalize;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

/* COCKTAILS LIST CONTAINER STYLES */

.cocktail-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  max-width: 120rem;
}

@media (max-width: 650px) {
  .cocktail-list {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .cocktail-list {
    width: 100%;
  }
}
